@model WestBlueGolfLeagueWeb.Models.Entities.team

@{
    ViewBag.Title = Html.DisplayFor(model => model.teamName);   
}

@section head {
    <base href="/Team/Details/@Model.id/" />
}

<div ng-app="team">

    <div ng-view></div>

    <h4>@Html.DisplayFor(model => model.teamName)</h4>

    <ul ng-controller="navController" class="nav nav-pills">
        <!-- TODO: this is kind of nasty. where to get route state from for stuff like this...? -->
        <li ng-class="{active: currState.stateValue == 0}"><a href="handicaps/2013">Handicaps</a></li>
        <li ng-class="{active: currState.stateValue == 1}"><a href="results/2013">Results</a></li>
    </ul>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.teamName)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.teamName)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.validTeam)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.validTeam)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>
    
    </dl>
</div>

@section scripts {
    @Scripts.Render("~/bundles/team")
}