@model WestBlueGolfLeagueWeb.Models.ViewModels.ResultsTableViewModel

@{
    ViewBag.Title = "Details";
}

@section JavaScript
{
    <script type="text/javascript">
        var showEquitable = function () {
            $("#equitableTable").show();
            $("#scoreTable").hide();
            $("#pointsTable").hide();
        }
        var showScore = function () {
            $("#equitableTable").hide();
            $("#scoreTable").show();
            $("#pointsTable").hide();
        }
        var showPoints = function () {
            $("#equitableTable").hide();
            $("#scoreTable").hide();
            $("#pointsTable").show();
        }
    </script>
}

<div class="row">
    <div class="col-md-3 list-group">
        <ul>
            @foreach (var t in this.Model.TeamsForYear)
            {
                if (t.id == this.Model.Team.id)
                {
                    <li class="list-group-item">@t.teamName</li>
                }
                else
                {
                    <li class="list-group-item">@Html.ActionLink(t.teamName, "Details", "ResultsTable", new { id = t.id }, null)</li>
                }
            }
        </ul>
    </div>

    <div class="col-md-9">
        <div class="row text-center">
            <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-default" onclick="showEquitable()" autofocus>Equitable Score</button>
                <button type="button" class="btn btn-default" onclick="showScore()">Score</button>
                <button type="button" class="btn btn-default" onclick="showPoints()">Points</button>
            </div>
        </div>
        <div id="equitableTable">
            <h4><a href="/Team/@this.Model.Team.id">@this.Model.Team.teamName</a> (Equitable Score)</h4>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>0</th>
                    @foreach (var w in this.Model.WeeksForYear)
                    {
                        <th>@w.seasonIndex</th>
                    }
                    <th>Handicap</th>
                </tr>
                <tr>
                    <td></td>
                    <td>36</td>
                    @foreach (var w in this.Model.WeeksForYear)
                    {
                        <td>@w.course.par</td>
                    }
                    <td></td>
                </tr>
                @foreach (var p in this.Model.PlayersForTeamForYear)
                {
                    string boldClass = p.ResultsForYear.Count() < 5 ? "score-bold" : "score-normal";
                    <tr>
                        <td><a href="/Player/@p.Player.id">@p.Player.name</a></td>

                        <td class=@boldClass>@p.YearData.week0Score</td>

                        @foreach (var w in this.Model.WeeksForYear)
                        {
                            var resultForWeekForPlayer = p.ResultsForYear.Where(x => x.match.teammatchup.weekId == w.id).FirstOrDefault();
                            // If no bold scores yet, look to see how many remaining results. If bold scores have happened, we know all future scores are
                            if (boldClass == "score-normal")
                            {
                                var remainingResults = p.ResultsForYear.Where(x => x.match.teammatchup.week.date > w.date);
                                boldClass = remainingResults.Count() < 5 ? "score-bold" : "score-normal";
                            }
                            if (resultForWeekForPlayer == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                // Equitable if we have it; could have said year >= 2015
                                if (resultForWeekForPlayer.scoreVariant != null && resultForWeekForPlayer.scoreVariant > 0)
                                {
                                    <td class=@boldClass>@resultForWeekForPlayer.scoreVariant</td>
                                }
                                else
                                {
                                    <td class=@boldClass>@resultForWeekForPlayer.score</td>
                                }
                            }
                        }
                        <td>+@p.YearData.finishingHandicap</td>
                    </tr>
                }
            </table>
            <span>* - bold numbers used for handicap calculation (week 0 counted up to 3 times for veteran golfers, only once for rookies)</span>
        </div>
        <div id="scoreTable" class="results-table">
            <h4><a href="/Team/@this.Model.Team.id">@this.Model.Team.teamName</a> (Score)</h4>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>0</th>
                    @foreach (var w in this.Model.WeeksForYear)
                    {
                        <th>@w.seasonIndex</th>
                    }
                    <th>Average</th>
                </tr>
                <tr>
                    <td></td>
                    <td>36</td>
                    @foreach (var w in this.Model.WeeksForYear)
                    {
                        <td>@w.course.par</td>
                    }
                    <td></td>
                </tr>
                @foreach (var p in this.Model.PlayersForTeamForYear)
                {
                    // Keep track of total over par
                    var totalScore = 0;
                    var resultCount = 0;
                    <tr>
                        <td><a href="/Player/@p.Player.id">@p.Player.name</a></td>
                        <td>@p.YearData.week0Score</td>

                        @foreach (var w in this.Model.WeeksForYear)
                        {
                            var resultForWeekForPlayer = p.ResultsForYear.Where(x => x.match.teammatchup.weekId == w.id).FirstOrDefault();
                            if (resultForWeekForPlayer == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                var points = resultForWeekForPlayer.points;
                                <td class=@(points > 12 ? "score-bold" : "score-normal")>@resultForWeekForPlayer.score</td>
                                totalScore += ((int)resultForWeekForPlayer.score - w.course.par);
                                resultCount++;
                            }
                        }

                        @if (resultCount > 0)
                        {
                            <td>+@(totalScore / resultCount)</td>
                        }
                        else
                        {
                            <td>+0</td>
                        }
                    </tr>
                }
            </table>
            <span>* - bold numbers used to denote wins</span>
        </div>
        <div id="pointsTable" class="results-table">
            <h4><a href="/Team/@this.Model.Team.id">@this.Model.Team.teamName</a> (Points)</h4>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>0</th>
                    @foreach (var w in this.Model.WeeksForYear)
                    {
                        <th>@w.seasonIndex</th>
                    }
                    <th>Average</th>
                </tr>
                <tr>
                    <td></td>
                    <td>36</td>
                    @foreach (var w in this.Model.WeeksForYear)
                    {
                        <td>@w.course.par</td>
                    }
                    <td></td>
                </tr>
                @foreach (var p in this.Model.PlayersForTeamForYear)
                {
                    var totalPoints = 0;
                    var resultCount = 0;
                    <tr>
                        <td><a href="/Player/@p.Player.id">@p.Player.name</a></td>
                        <td>@p.YearData.week0Score</td>

                        @foreach (var w in this.Model.WeeksForYear)
                        {
                            var resultForWeekForPlayer = p.ResultsForYear.Where(x => x.match.teammatchup.weekId == w.id).FirstOrDefault();
                            if (resultForWeekForPlayer == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                var points = resultForWeekForPlayer.points;
                                <td class=@(points > 12 ? "score-bold" : "score-normal")>@points</td>
                                totalPoints += (int)resultForWeekForPlayer.points;
                                resultCount++;
                            }
                        }

                        @if (resultCount > 0)
                        {
                            <td>@(totalPoints / resultCount)</td>
                        }
                        else
                        {
                            <td>0</td>
                        }
                    </tr>
                }
            </table>
            <span>* - bold numbers used to denote wins</span>
        </div>
    </div>
</div>
