@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="bs-callout bs-callout-primary">
            <h4>Commissioner's Note</h4>
            @if (this.Model.Information == null)
            {
                <text>There are no updates from the commissioner!</text>
            }
            else
            {
                <text>@this.Model.Information.text</text>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <h3>@this.Model.SelectedYear Schedule</h3>
        @if (this.Model.ScheduleYear == null || this.Model.ScheduleYear.weeks.Count() == 0)
        {
            <p>There is no data for @this.Model.SelectedYear!</p>
        }
        else
        {
            foreach (var week in this.Model.ScheduleYear.weeks.OrderBy(w => w.date))
            {
                var matchups = week.teammatchups.OrderBy(x => x.matchOrder).ToList();
                <div class="col-md-6 schedule-date-clearfix">
                    <div class="schedule-date-detail">
                        <h4>@week.date.ToString("MMMM d")</h4>
                        <span class="schedule-course" title="Course">@week.course.name</span><span title="Pairing for week" class="schedule-pairing">@week.pairing.pairingText</span>
                        <div class="matchup-container">
                            @for (int i = 0; i < matchups.Count; i++)
                            {
                                var tm = matchups[i];
                                <div class="matchup clearfix">
                                    <div class="tee-time">@tm.TeeTimeText()</div>
                                    <div class="matchup-left @(@tm.Team1Won() ? "winning-team" : "losing-team")">@tm.teams.First().teamName</div>
                                    <div class="matchup-vs">vs</div>
                                    <div class="matchup-right @(@tm.Team2Won() ? "winning-team" : "losing-team")">@(tm.teams.Count > 1 ? tm.teams.Skip(1).First().teamName : "no match")</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <div class="col-md-3">
        <h4>Team Standings for @this.Model.SelectedYear</h4>
        @if (this.Model.TeamRankingDataForYear.Count() == 0)
        {
            <p>There is no team standing data for @this.Model.SelectedYear!</p>
        }
        else { 
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Points</th>
                        <th>Avg</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rankData in this.Model.TeamRankingDataForYear)
                    {
                        double completeMatches = rankData.team.teammatchups.Where(y => y.week.year.value == this.Model.SelectedYear && y.matchComplete).Count();
                        <tr>
                            <td>@rankData.rank</td>
                            <td>@rankData.team.teamName</td>
                            <td>@rankData.value</td>
                            <td>@((double)rankData.value / completeMatches)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-3">
        <h4>iPhone App</h4>
        <p>Download the league's iPhone app from TR App Store, Thomson Reuters internal mobile apps site.</p>
        <div><img class="qr-code" src="~/Content/images/golfAppQRCode.jpg" /></div>
    </div>
    @if (this.Model.SelectedYear == 2015)
    {
        <div class="col-md-6">
            <h4>2015 Year End Tournament</h4>
            <p>
                2015 Year End Tournament - Saturday, September TBDth - River Oaks Golf Course, Cottage Grove, MN - 10 AM start
            </p>
        </div>
    }
</div>