<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="header-link">@Html.ActionLink("West Blue Golf League", "Index", "Home", null, new { @class = "navbar-brand" })</span>
                <span class="header-link-small">@Html.ActionLink("WBGL", "Index", "Home", null, new { @class = "navbar-brand" })</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.RouteLink("Players", "PlayerPage", new { catchall = "/" })</li>
                    <li>@Html.RouteLink("Leader Boards", "LeaderBoards", new { catchall = "/" })</li>
                    <li>@Html.ActionLink("Rules & Information", "RulesAndInformation", "Information")</li>
                    <li>@Html.ActionLink("Handicaps", "Index", "ResultsTable")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - West Blue Golf League</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @AngularHelpers.RenderTemplates("~/bundles/app/html")
    @RenderSection("scripts", required: false)
</body>
</html>
